{% extends "toothpaste/index.html" %}
{% block content %}
    <div id='toothpaste'>
        <div id='about'>
            <p>flossing.app is a web tool for text extraction. Click on the toothpaste icon on the home page and load your PDF, Microsoft Word Document or Text file and wait for it to extract and plot the 20 most common words from the file.</p>
            <p>It is worth noting: flossing.app won't upload files bigger than 5Mb, as well as files named with accents, such as "Verwindung - a idéia de 'superação' no pensamento de Vattimo.pdf".</p>
        </div>
    </div>
{% endblock %}