{% extends "toothpaste/index.html" %}
{% block content %}
    <script>
        $(document).ready(function(e) {
            var upFileButton = $('#upfile-button');
            var input = $('#id_document');
            var form = $('form')

            upFileButton.click(function() {
                input.trigger('click');
            });

            input.change(function() {
                form.submit();
                $.fn.interiorTransformation(upFileButton);
            });
        });
    </script>
    <div id='toothpaste'>
        <form enctype='multipart/form-data' method='post'>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form }}
            <a><img src='static/toothpaste/img/toothpaste.png' id='upfile-button'></a>
        </form>
    </div>
{% endblock %}