<!DOCTYPE html>
<html lang='en'>
    <head>
        {% load static %}
        <title> Flossing | keep your teeth clean! </title>
        <meta charset='utf8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='shortcut icon' type='image/png' href='/static/toothpaste/img/floss.png' sizes='32x32'/>
        <link rel='stylesheet' href="{% static 'toothpaste/css/main.css' %}" type='text/css'/>
        <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128443240-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-128443240-2');
	</script>
    </head>
    <script src="{% static 'toothpaste/js/redirecter.js' %}"></script>
    <body>
        <nav>
            <a id='toothbrush'>Toothbrush</a>
            <a id='about'>About</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
