@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$medDevice: 767px;
$smallDevice: 479px;

@mixin medDevice {
    @media only screen and (max-width: #{$medDevice}) {
        @content;
    }
}

@mixin smallDevice {
    @media only screen and (max-width: #{$smallDevice}) {
        @content;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes noFade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

html, body {
    height: 95%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    text-align: center;

    nav {
        background-color: black;
        color: white;
        top: 0;
        height: 50px;

        a {
            display: inline-block;
            margin: 15px;
        }

        a:hover {
            border-bottom: 1px solid white;
            transition: .2s;
        }
    }

    a:hover {
        cursor: pointer;
    }
    
    img {
        height: 120px;
        width: 120px;
        position: absolute;
        top: 45%;
        left: 45%;
        margin-right: -50%;
        transition: .2s;

        @include medDevice() {
            height: 80px;
            width: 80px;
        }

        @include smallDevice() {
            height: 60px;
            width: 60px;
        }
    }

    #loading {
        position: absolute;
        background-image: url('../img/toothbrush.gif');
        background-repeat: no-repeat;
        height: 120px;
        width: 120px;
        top: 45%;
        left: 45%;
        margin-right: -50%;
    
        @include medDevice() {
            height: 80px;
            width: 80px;
        }
    
        @include smallDevice() {
            height: 60px;
            width: 60px;
        }
    }

    #toothpaste {
        // animation-name: fadeIn;
        // animation-duration: 200ms;
        // animation-timing-function: ease-in-out;
        // animation-iteration-count: 1;
        // animation-direction: alternate;
        // animation-fill-mode: forwards;
        // animation-play-state: running;
        height: 85vh;
        padding: 5%;

        a img:hover {
            height: 125px;
            width: 125px;

            @include medDevice() {
                height: 85px;
                width: 85px;
            }

            @include smallDevice() {
                height: 65px;
                width: 65px;
            }
        }

        input {
            display: none;
        }

        label {
            display: none;
        }

        ul.errorlist li {
            list-style: none;
        }
    }
}

::selection {
    background-color: #b0b0b0;
}
